<launch>
    <include file="$(find rslidar_sdk)/launch/start.launch"/>
    <include file="$(find hikvision_ros)/launch/hik.launch"/>
    <include file="$(find radar)/launch/quantum.launch"/>
    <node pkg="mess_sync" type="mess_sync" name="mess_sync"/>

    <!-- rviz -->
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find start_collect)/rviz/rviz.rviz" />
</launch>
